@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Beach Safer!</h1>
    <p class="lead">
        “Beach Safer” comes as a smart integrated IoT solution providing Real-time monitoring and
        supervision on swimmers, Quick accurate drowning detection methodology and an Immediate
        rescue procedure.
    </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Manage Customers</h2>
        <p>You can create,edit,view, or delete all customers data </p>
        <p><a class="btn btn-default" href="/Customers">GO &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Manage Beaches</h2>
        <p> You can create,edit,view,or delete all Customers Beaches data</p>
        <p><a class="btn btn-default" href="/Beaches">GO &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Manage Devices</h2>
        <p> You can create,edit,view, or delete all Devices data</p>
        <p><a class="btn btn-default" href="/Devices">GO &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Manage Devices Users</h2>
        <p>You can create,edit,view, or delete all Devices data</p>
        <p><a class="btn btn-default" href="/DeviceUsers">GO &raquo;</a></p>
    </div>
</div>